<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script> 
    <script src='fullcalendar/dist/index.global.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      $(document).ready(function() {
        $('#calendar').fullCalendar({
          selectable: true,
          selectHelper: true,
          header:{
            left:'month, agendaWeek, agendaDay, list',
            center:'title',
            right:'prev, today, next'
          },
          buttonText:{
            today:'Today',
            month:'Month',
            week:'Week',
            day:'Day',
            list:'List'
          },
          events:[
          {% for event in events%}
          {
           title:'{{event.event_name}}',
           start:'{{event.startdate}}',
           end:'{{event.enddate}}',
          },
          {% endfor %}
          ]
        });        
   });
   </script>

  </head>
<body>
    <h4><a href="home">Back</a></h4>
    <div class="container">
     <div id="calendar"></div>
    </div>
    <br>
  </body>
</html>