{% extends "layout.html" %}
{% block content %}
    {% for event in events %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ event.applicant }}</a>
              <small class="text-muted">{{ event.event_name}}</small>
            </div>
            <h2><a class="article-title" href="#">{{ event.title }}</a></h2>
            <p class="article-content">{{ event.startdate }}</p>
            <p class="article-content">{{ event.enddate }}</p>

          </div>
        </article>
    {% endfor %}
{% endblock content %}