{% extends "layout.html" %}
{% block content %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <h4 class="article-content">Event Name: {{ event.event_name }}</h4>
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{url_for('updatesched', id=event.id)}}">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>           
          </div>
          <h6 class="mr-2"><a href="{{url_for( 'applicant_name', applicant = event.applicant) }}">Applicant: {{ event.applicant }}</a></h6>
          <p class="article-content">Event Start time: {{ event.startdate }}</p>
          <p class="article-content">Event End time: {{ event.enddate }}</p>
        </div>
      </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure to <b class="text-danger">DELETE</b> this schedule?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="{{url_for('delete_sched',id=event.id)}}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}